.error{
	margin-top: 100px;
	color: blue;
	font-size: 400px;
	font-family: Arial;
	text-align: center;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}